.inputbox {
  width: 43%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
}
.App p {
  color: red;
  font-size: smaller;
  margin-bottom: 6px;
}
@media (max-width: 600px) {
  .inputbox {
    width: 95%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .departmentlabel {
    font-size: smaller;
  }
}
@media (max-width: 850px) and (min-width: 600px) {
  .inputbox {
    width: 65%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
  }
}
